.interaction{
    display: flex;
    
    //flex-wrap: wrap;

    &__img{
        //necesito que la imagne mantenga su  proporción 
        //min-width: 600px;
        //min-width: 45%;
        max-width: 40%;
    }

    &__section{
       background-color: rgb(243, 226, 240);
       width: 100%;
       padding: 40px 0px;
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    &__options{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px 10px;
    }

    &__list{
        list-style: none;
        display: flex; 
        flex-direction: column;
        margin-right: 20px;
    }

    &__item{
       padding: 2% 0%;
    }

    &__name{
        margin: 0px;
    }

}