
.logoStormi--banner{
    width: 25em;
 }



///////////////////

//Media query 
@media only screen and (max-width:790px){
    .logoStormi--banner{
        width: 23em;
    }
}

@media only screen and (max-width:360px){
    .logoStormi--banner{
        width: 21em;
    }
}