.advertising{
    background-image: url("../img/advertising.jpg");
    display: flex;
    align-items: center;
    
    
    &__information{
        padding: 35px;
    }

    &__h4{
        margin: 0px
    }

}



///////////////////

//Media query 
@media only screen and (max-width:1125px){

    .advertising{
        background-image: url("../img/advertising.jpg");
        background-repeat:no-repeat;
        background-position: left;
        background-size: 205vw;
        display: flex;
        align-items: center;
        
        
        &__information{
            padding: 30px;
        }
    
        &__h4{
            margin: 0px
        }
    
    }  
}

@media only screen and (max-width:610px){

    .advertising{
        background-image: url("../img/advertising.jpg");
        background-repeat:no-repeat;
        background-position: left;
        background-size: 560vw;
        display: flex;
        align-items: center;
        
        
        &__information{
            padding: 30px;
            width: 50%;
        }
    
        &__h4{
            margin: 0px
        }
    
    }  
}
