.advertising{
    background-image: url("../img/advertising.jpg");
    display: flex;
    align-items: center;
    
    
    &__information{
        padding: 4%;
    }

    &__h4{
        margin: 0px
    }

}



///////////////////

//Media query 
@media only screen and (max-width:1125px){

    .advertising{
        position: relative;
        background-image: url("../img/advertising.jpg");
        display: flex;
        align-items: center;
        
        
        &__information{
            padding: 4%;
        }
    
        &__h4{
            margin: 0px
        }
    
    }
    
    
}
