button{
    border-radius: 5px;
    background-color: rgb(66, 4, 71);
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    
}

.button--banner{
    
    
    //position: absolute;
    // bottom: 1%;
    //right:23%;
}





