.details{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;

    &__img{
        width: 50%;
        background-image: url("../img/imgProduct.png");
        background-size: cover;
        margin-left: 5%;
    }

    &__section{
        width: 45%;
        padding: 0% 5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__list{
        margin: 0px 0px;
    }

    &__item{
        display: flex;
        align-items: center;       
    }
}



///////////////////
//Media query: 1125px
@media only screen and (max-width:1125px){
    
    .details{
        width: 100%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__img{
            width: 70%;
        }

        &__section{
            width: 65%;
            padding: 0% 0%;
            box-sizing: border-box;
        }
    
        &__list{
            padding: 0px;
        }
        
    }

}





