.details{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__img{
        //width: 45%;
        max-width: 600px;
        min-width: 400px;
        margin-left: 5%;
    }

    &__section{
        width: 50%;
        padding: 0% 5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__list{
        list-style: none;
        margin: 0px 0px;
    }

    &__item{
        display: flex;
        align-items: center;       
    }
}






