.gallery {
        background-color: rgb(252, 212,225);
    height: 25%;

    &-cell {
        width: 60%;
        height: 400px;
        margin-right: 10px;
        counter-increment: gallery-cell;
      }
      
      &-cell.is-selected {

      }
      
      /* cell number */
         &-cell:before {
        display: block;
        text-align: center;
        content: counter(gallery-cell);
        line-height: 200px;
        font-size: 80px;
        color: rgba(255, 255, 255, 0);
      }

    .photo--1{
          background-image: url("../img/foto1.png");
          background-size: cover;
    }

    .photo--2{
        background-image: url("../img/foto2.png");
        background-size: cover;
    }

    .photo--3{
        background-image: url("../img/foto3.png");
        background-size: cover;
    }

    .photo--4{
        background-image: url("../img/foto4.png");
        background-size: cover;
    }

    .photo--5{
        background-image: url("../img/foto5.png");
        background-size: cover;
    }
  }


///////////////////
//Media query: 610px

  @media only screen and (max-width:610px){
    .gallery {
        background-color: rgb(252, 212,225);
    height: 25%;

    &-cell {
        width: 60%;
        height: 300px;
        margin-right: 10px;
        counter-increment: gallery-cell;
      }
      
      &-cell.is-selected {

      }
      
      /* cell number */
         &-cell:before {
        display: block;
        text-align: center;
        content: counter(gallery-cell);
        line-height: 200px;
        font-size: 80px;
        color: rgba(255, 255, 255, 0);
      }

    .photo--1{
         background-position: center;
        background-size: cover;
    }

    .photo--2{
        background-position: center;
        background-size: cover;
    }

    .photo--3{
       
        background-size: cover;
    }

    .photo--4{
        background-position: center;
        background-size: cover;
    }

    .photo--5{
        
        background-size: cover;
    }
  }
  }
  
  
  
