.inscription{
    background-image: url("../img/fondoInscription.jpg");
    padding: 17% 0%;

    &__information{
        display: flex;
        flex-direction: column;
        align-items: center;   
        margin-bottom: 25px; 
    }

    &__inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
}