//////////Media query: 610px
@media only screen and (max-width:610px){
    .logo{
        display: none;
    }

    .logo--responsiveCont{
        width: 19%;
    }

    .logo--responsive{
        width: 100%;
    }

}