.modal,
.indexModal{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);  
    z-index: 20;
    opacity: 0;
    transition: opacity .5s ease;
     
    &__content{
        width: 70%;
        height: 510px;
        padding: 30px;
        display: flex;
        background-image: url("../img/modalBackground.jpg");
        margin: 3% auto;
        transition: transform .5s ease-out;
        border-radius: 5px;    
    }

    &__a{
        text-decoration: none; 
        width: 100%;
        display: flex;
    }

    &__img{
        width: 45%;
        padding: 50px 0px;
        background-image: url("../img/modal_img.jpg"); 
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }

    &__btn{
        position: fixed;
        right: 14.5%;
        z-index: 50;
    }

    &__text{
        width: 50%;
        padding: 18% 0px;
        padding-left: 40px;
    }

    &__h4{
        margin: 0px
    }

    &__bigTitle{
        font-size: 60px;
        margin: 0px;
    }

    &__p{
        color: rgb(47,36,48);
    }

}


///////////////////
//Media query: 1125px
@media only screen and (max-width:1125px){

     .modal,
     .indexModal{
        &__text{
            width: 55%;
            padding: 13% 0px;
            padding-left: 40px;
        }

        &__bigTitle{
            margin: 0px;
        }

        &__img{
            width: 280px;
            background-position: -60px;
        }
    }
}


//982px
@media only screen and (max-width:982px){
    .modal,
    .indexModal{
        &__img{
         width: 280px;
         background-position: -60px;
        }
    }
}


//719px
@media only screen and (max-width:719px){

    .modal,
    .indexModal{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);  
        //opacity: 0;
        transition: opacity .5s ease;
         
        &__content{
            width: 70%;
            height: 290px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            margin-top: 108px;  
            border-radius: 5px; 
        }
    
        &__img{
            width: 280px;
            height: 25em;
            padding: 50px 0px;
            background-size: cover;
            display: none;
        }
    
        &__btn{
            position: fixed;
            right: 15%;
        }
    
        &__text{
            width: 80%;
            padding: 20px 0px;
            padding-left: 20px;
        }
    
        &__h4{
            margin: 0px;
            font-size: 15px;
        }

        &__bigTitle{
            font-size: 40px;
            margin: 0px;
        }
    }
    
}