.reasons{
    margin-top: 100px;

    &__div{
        width: 100%;
        height: 80vh;
        display: flex;

    }

    &__characteristics{
        display: flex;
        flex-direction: column;
        width: 33.3%;
        
        .reasons__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
    }

//Defino los fondos de cada hijo de los div

//div 1
&__characteristics:nth-child(1){

    .reasons__img{
        background-image: url("../img/img-C1.jpg");
    }
 
    .reasons__text{
        background-image: url("../img/fondo-C1.jpg");
        background-size: cover;
    }

    .reasons__img:hover{
        background-image: url("../img/img-C1Hoover.jpg");
    }
}


//div 2
    &__characteristics:nth-child(2){
        flex-direction: column-reverse;

        .reasons__img{
            background-image: url("../img/img-C2.jpg");
        }

        .reasons__text{
            background-image: url("../img/fondo-C2.jpg");
            background-size: cover;
        }

        .reasons__img:hover{
            background-image: url("../img/img-C2Hoover.jpg");
        }
    }

//div 3
    &__characteristics:nth-child(3){

        .reasons__img{
            background-image: url("../img/img-C3.jpg");
            background-size: cover;
            background-position: center;
        }

        .reasons__text{
            background-image: url("../img/fondo-C3.jpg");
            background-size: cover;
        }

        .reasons__img:hover{
            background-image: url("../img/img-C3Hoover.jpg");
        }
    }

  
    &__img{
        height: 50%;
    }

    &__text{
       height: 50%;
    }

}



//Media query
@media only screen and (max-width:917px){
    .reasons{
    
        &__div{
            width: 100%;
            height: 120vh;
            display: flex;
            flex-direction: column;
        }
    
        &__characteristics{
            display: flex;
            flex-direction: row;
            width:auto;
            height: 100%;
            
            .reasons__text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
        }
    
        &__characteristics:nth-child(2){
            flex-direction: row-reverse;
            .reasons__text{
                
            }
    
        }
    
        &__characteristics:nth-child(1){
            .reasons__text{
       
            }
        }
    
        &__characteristics:nth-child(3){
            .reasons__text{
        
            }
        }
    
      
        &__img{
            width: 50%;
            height: 100%;
        }
    
        &__text{
            height: 100%;
        }
    }
}
    

@media only screen and (max-width:610px){
    .reasons{
    
        &__div{
            width: 100%;
            height: 225vh;
            display: flex;
            flex-direction: column;
        }
    
        &__characteristics{
            display: flex;
            flex-direction: column;
            width:auto;
            height: 100%;
            
            .reasons__text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
        }
    
        &__characteristics:nth-child(2){
            flex-direction: column;
            .reasons__text{
                
            }
    
        }
    
        &__characteristics:nth-child(1){
            .reasons__text{
       
            }
        }
    
        &__characteristics:nth-child(3){
            .reasons__text{
        
            }
        }
    
      
        &__img{
            width: 100%;
            height: 80%;
        }
    
        &__text{
            height: 80%;
        }
    }

}

    

    

    
