.reasons{
    margin-top: 100px;

    &__div{
        display: flex;
        flex-wrap: wrap;
    }

    &__characteristics{
        display: flex;
        flex-direction: column;
        width: 33.3%;
        
        .reasons__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 250px;
            //El padding no funciona bien porque los contenidos son diferentes 
            //padding: 15% 0%;
        }
    }

    &__characteristics:nth-child(2){
        flex-direction: column-reverse;
     
        .reasons__text{
            background-image: url("../img/fondo-C2.jpg");
            background-size: cover;
        }
    }

    &__characteristics:nth-child(1){
        .reasons__text{
            background-image: url("../img/fondo-C1.jpg");
            background-size: cover;
        }
    }

    &__characteristics:nth-child(3){
        .reasons__text{
            background-image: url("../img/fondo-C3.jpg");
            background-size: cover;
        }
    }

  
    &__img{

    }

    &__text{

    }

}
    
    

    

    
