.title{   
    display: flex;
    justify-content: center; 
    font-size: 30px;
    margin-bottom: 40px;
}

.title--reasons{
    color: white;
    margin: 0px;
}

.title--list{
    margin: 0px;
}

.title--advertising{
    font-size: 40px;
    margin: 0px;
}

.title--main{
    font-size: 60px;
    margin: 0px;
}
    


