//tipografias
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

$violet-color:rgb(66, 4, 71);

body{
    margin: 0px;
    background-color: rgb(251,241,249);
}

p{
    font-family: Manrope;
    color: rgb(66, 4, 71);
}

h1{
    font-family: magra;
    color: $violet-color;
}

h2{
    font-family: Manrope;
    color: rgb(66, 4, 71);
    margin: 0px;
}

h4{
    font-family: magra;
    font-size: 20px;
    color: rgb(66, 4, 71);
}


//scss
@import '_title';
@import '_nav';
@import '_banner';
@import '_reasons';
@import '_product';
@import '_button';
@import 'details';
@import '_colors';
@import '_interaction';
@import '_advertising';
@import '_inscription';
@import '_footer';

.text{
    display: flex;
    justify-content: center;
    color: rgb(66, 4, 71);
}

.text--reasons{
    color: rgb(255, 241, 241);
    padding: 0% 5%;
    
}

.text--product{
   width:35%;
   margin: 0px;
   align-content: center;
}

.text--inscription{
    margin: 6px 0px;
 }

.input{
    border-radius: 5px;
    font-family: Manrope;
    padding: 12px 10%;
    margin-bottom: 10px;
    color: rgb(182,116,170);
}

.logoStormi--banner{
   width: 68%;
}

















