@import url("https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
body {
  margin: 0px;
  background-color: #fbf1f9;
  overflow: hidden;
}

p {
  font-family: Manrope;
  color: #420447;
}

h1 {
  font-family: magra;
  color: #420447;
}

h2 {
  font-family: Manrope;
  color: #420447;
  margin: 0px;
}

h4 {
  font-family: magra;
  font-size: 20px;
  color: #420447;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.title--reasons {
  color: white;
  margin: 0px;
}

.title--list {
  margin: 0px 10px;
}

.title--advertising {
  font-size: 40px;
  margin: 0px;
}

.title--main {
  font-size: 60px;
  margin: 0px;
}

.title--banner {
  color: white;
  margin: 0px;
}

.title--modal {
  margin: 0px;
}

@media only screen and (max-width: 610px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 23px;
    margin-bottom: 40px;
  }
  .title--list {
    font-size: 16px;
  }
  .title--advertising {
    font-size: 28px;
    margin: 0px;
  }
  .title--main {
    font-size: 58px;
    margin: 0px;
  }
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #420447;
}

.text--reasons {
  color: #fff1f1;
  padding: 0% 5%;
}

.text--product {
  width: 35%;
  margin: 0px;
}

.text--inscription {
  margin: 6px 0px;
}

@media only screen and (max-width: 610px) {
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #420447;
  }
  .text--reasons {
    color: #fff1f1;
    padding: 0% 5%;
  }
  .text--product {
    width: 75%;
    margin: 0px;
  }
  .text--inscription {
    margin: 6px 0px;
  }
}

.nav {
  font-size: large;
  font-family: magra;
  color: #420447;
  width: 100%;
  height: 8.5em;
  background-image: url("../img/navImg.jpg");
  background-size: 120vw;
  background-position: center;
  background-repeat: no-repeat;
}

.nav__icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}

.nav__options {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: magra;
}

.nav__option {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav__option:hover {
  color: #892091;
}

.nav__responsive {
  display: none;
}

@media only screen and (max-width: 1078px) {
  .nav {
    font-size: medium;
    width: 100%;
    height: 8em;
    background-size: 144vw;
  }
}

@media only screen and (max-width: 791px) {
  .nav {
    font-size: medium;
    width: 100%;
    height: 7em;
    background-size: 155vw;
  }
}

@media only screen and (max-width: 610px) {
  .nav {
    width: 100%;
    height: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: 189vw;
    background-position: center;
    position: relative;
  }
  .nav__options {
    width: 100%;
    height: 9.5em;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    background-color: white;
    font-size: 15px;
    position: absolute;
    bottom: -100%;
    top: 100%;
    z-index: 10;
  }
  .nav__options * {
    padding-bottom: 3.5px;
  }
  .nav__responsive {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__divIcons {
    display: none;
  }
  .nav__icon {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 8px;
  }
  .nav__hamburger {
    background-image: url("../img/hIcon.png");
    background-size: cover;
    width: 36px;
    height: 36px;
  }
  .nav__hamburger:hover {
    background-image: url("../img/hIcon_hover.png");
  }
  .nav__desaparecer {
    display: none;
  }
}

@media only screen and (max-width: 610px) {
  .logo {
    display: none;
  }
  .logo--responsive {
    width: 19%;
  }
}

.banner {
  width: 100%;
  height: 35em;
  position: relative;
  background-image: url("../img/banner1.jpg");
  background-size: 103vw;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__section {
  position: absolute;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 15%;
  top: 25%;
}

@media only screen and (max-width: 1125px) {
  .banner {
    background-position: center;
    background-size: cover;
    font-size: 15px;
  }
}

@media only screen and (max-width: 819px) {
  .banner {
    height: 30em;
    font-size: 11px;
  }
  .banner__section {
    right: 13%;
  }
}

@media only screen and (max-width: 610px) {
  .banner {
    font-size: 9px;
  }
  .banner__section {
    right: 10%;
  }
}

.reasons {
  margin-top: 100px;
}

.reasons__div {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reasons__characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.3%;
}

.reasons__characteristics .reasons__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons__characteristics:nth-child(1) .reasons__img {
  background-image: url("../img/img-C1.jpg");
  background-size: cover;
}

.reasons__characteristics:nth-child(1) .reasons__text {
  background-image: url("../img/fondo-C1.jpg");
  background-size: cover;
}

.reasons__characteristics:nth-child(1) .reasons__img:hover {
  background-image: url("../img/img-C1Hoover.jpg");
}

.reasons__characteristics:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.reasons__characteristics:nth-child(2) .reasons__img {
  background-image: url("../img/img-C2.jpg");
  background-size: cover;
}

.reasons__characteristics:nth-child(2) .reasons__text {
  background-image: url("../img/fondo-C2.jpg");
  background-size: cover;
}

.reasons__characteristics:nth-child(2) .reasons__img:hover {
  background-image: url("../img/img-C2Hoover.jpg");
}

.reasons__characteristics:nth-child(3) .reasons__img {
  background-image: url("../img/img-C3.jpg");
  background-size: cover;
  background-position: center;
}

.reasons__characteristics:nth-child(3) .reasons__text {
  background-image: url("../img/fondo-C3.jpg");
  background-size: cover;
}

.reasons__characteristics:nth-child(3) .reasons__img:hover {
  background-image: url("../img/img-C3Hoover.jpg");
  background-size: cover;
}

.reasons__img {
  height: 50%;
}

.reasons__text {
  height: 50%;
}

@media only screen and (max-width: 917px) {
  .reasons__div {
    width: 100%;
    height: 120vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reasons__characteristics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    height: 100%;
  }
  .reasons__characteristics .reasons__text {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons__characteristics:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .reasons__img {
    width: 50%;
    height: 100%;
  }
  .reasons__text {
    height: 100%;
  }
}

@media only screen and (max-width: 610px) {
  .reasons__div {
    width: 100%;
    height: 225vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reasons__characteristics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: 100%;
  }
  .reasons__characteristics .reasons__text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons__characteristics:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reasons__img {
    width: 100%;
    height: 80%;
  }
  .reasons__text {
    height: 80%;
  }
}

.product {
  width: 100%;
  background-image: url("../img/fondoProduct.jpg");
  background-size: cover;
}

.product__section {
  width: 100%;
  padding: 13% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 610px) {
  .product {
    width: 100%;
    background-position: center;
  }
  .product__section {
    width: 100%;
    padding: 13% 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

button {
  border-radius: 5px;
  background-color: #420447;
  color: white;
  padding: 1em 3em;
  margin-top: 20px;
}

button:hover {
  background-color: #892091;
}

@media only screen and (max-width: 610px) {
  button {
    padding: 0.8em 1.5em;
    margin-top: 9px;
  }
}

.details {
  width: 100%;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.details__img {
  width: 50%;
  background-image: url("../img/imgProduct.png");
  background-size: cover;
  margin-left: 5%;
}

.details__section {
  width: 45%;
  padding: 0% 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__list {
  margin: 0px 0px;
}

.details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1125px) {
  .details {
    width: 100%;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .details__img {
    width: 70%;
  }
  .details__section {
    width: 65%;
    padding: 0% 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .details__list {
    padding: 0px;
  }
}

.colors {
  background-color: #fcd4e1;
  margin-top: 80px;
  width: 100%;
  padding: 100px 0px;
}

.colors__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colors__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colors__img {
  width: 45%;
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.interaction__img {
  width: 44%;
  background-image: url("./../img/makeup__img.jpg");
  background-size: cover;
  background-position: center;
}

.interaction__section {
  width: 56%;
  background-color: #f3e2f0;
  padding: 90px 0px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interaction__options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interaction__list {
  width: 20%;
  padding-right: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.interaction__item {
  width: 100%;
}

.interaction__li {
  padding: 2% 0%;
}

.interaction__name {
  margin: 0px;
}

.interaction__eye {
  width: 80%;
}

.interaction__sample {
  width: 85%;
}

@media only screen and (max-width: 800px) {
  .interaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .interaction__img {
    width: 100%;
    height: 60em;
    background-image: url("./../img/makeup__img.jpg");
    background-size: cover;
    background-position: center;
  }
  .interaction__section {
    width: 100%;
    background-color: #f3e2f0;
    padding: 70px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .interaction__options {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .interaction__list {
    width: 90%;
    padding-right: 0px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .interaction__item {
    width: 100%;
  }
  .interaction__li {
    padding: 2% 0%;
  }
  .interaction__name {
    margin: 0px;
    padding-bottom: 15px;
  }
  .interaction__eye {
    width: 80%;
  }
  .interaction__sample {
    width: 100%;
    padding: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.review {
  height: 50%;
  background-color: #fcd4e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16%;
  padding-bottom: 5%;
  position: relative;
}

.review__divClouds {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 100px;
}

.review__clouds {
  width: 35%;
}

.gallery {
  background-color: #fcd4e1;
  height: 25%;
  /* cell number */
}

.gallery-cell {
  width: 60%;
  height: 400px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: rgba(255, 255, 255, 0);
}

.gallery .photo--1 {
  background-image: url("../img/foto1.png");
  background-size: cover;
}

.gallery .photo--2 {
  background-image: url("../img/foto2.png");
  background-size: cover;
}

.gallery .photo--3 {
  background-image: url("../img/foto3.png");
  background-size: cover;
}

.gallery .photo--4 {
  background-image: url("../img/foto4.png");
  background-size: cover;
}

.gallery .photo--5 {
  background-image: url("../img/foto5.png");
  background-size: cover;
}

@media only screen and (max-width: 610px) {
  .gallery {
    background-color: #fcd4e1;
    height: 25%;
    /* cell number */
  }
  .gallery-cell {
    width: 60%;
    height: 300px;
    margin-right: 10px;
    counter-increment: gallery-cell;
  }
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: rgba(255, 255, 255, 0);
  }
  .gallery .photo--1 {
    background-position: center;
    background-size: cover;
  }
  .gallery .photo--2 {
    background-position: center;
    background-size: cover;
  }
  .gallery .photo--3 {
    background-size: cover;
  }
  .gallery .photo--4 {
    background-position: center;
    background-size: cover;
  }
  .gallery .photo--5 {
    background-size: cover;
  }
}

.advertising {
  background-image: url("../img/advertising.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advertising__a {
  text-decoration: none;
}

.advertising__information {
  padding: 60px;
}

.advertising__h4 {
  margin: 0px;
}

@media only screen and (max-width: 1125px) {
  .advertising {
    background-image: url("../img/advertising.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 248vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advertising__information {
    padding: 60px;
  }
  .advertising__h4 {
    margin: 0px;
  }
}

@media only screen and (max-width: 610px) {
  .advertising {
    background-image: url("../img/advertising.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 520vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advertising__information {
    padding: 40px 0px;
    padding-left: 45px;
    width: 75%;
  }
  .advertising__h4 {
    margin: 0px;
  }
}

.inscription {
  background-image: url("../img/fondoInscription.jpg");
  padding: 17% 0%;
}

.inscription__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.inscription__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

@media only screen and (max-width: 610px) {
  .inscription {
    padding: 17% 10%;
  }
  .inscription__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
  }
  .inscription__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
  }
}

.footer {
  background-color: #b674aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4% 5%;
}

.footer__icons {
  width: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  color: white;
  margin: 0px;
}

@media only screen and (max-width: 610px) {
  .footer {
    background-color: #b674aa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7% 5%;
  }
  .footer__icons {
    width: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__text {
    color: white;
    margin: 0px;
    font-size: x-small;
  }
}

.logoStormi--banner {
  width: 25em;
}

@media only screen and (max-width: 790px) {
  .logoStormi--banner {
    width: 23em;
  }
}

@media only screen and (max-width: 360px) {
  .logoStormi--banner {
    width: 21em;
  }
}

.video {
  width: 60%;
  height: 28.5em;
}

@media only screen and (max-width: 610px) {
  .video {
    width: 60%;
    height: 18em;
  }
}

.input {
  border-radius: 5px;
  font-family: Manrope;
  padding: 12px 10%;
  margin-bottom: 10px;
  color: #b674aa;
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.modal__content {
  height: 510px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/modalBackground.jpg");
  margin: 6% auto;
  width: 85%;
}

.modal__img {
  width: 25em;
  height: 25em;
  padding: 50px 0px;
  background-image: url("../img/modal_img.jpg");
  background-size: cover;
  background-position: center;
}

.modal__btn {
  position: fixed;
  right: 80px;
}

.modal__text {
  width: 50%;
  padding: 160px 0px;
  padding-left: 20px;
}

.modal__h4 {
  margin: 0px;
}

@media only screen and (max-width: 610px) {
  .modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
  }
  .modal__content {
    height: 450px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 6% auto;
    width: 85%;
  }
  .modal__img {
    width: 25em;
    height: 25em;
    padding: 50px 0px;
    background-size: cover;
    display: none;
  }
  .modal__btn {
    position: fixed;
    right: 30px;
  }
  .modal__text {
    width: 80%;
    padding: 60px 0px;
    padding-left: 20px;
  }
  .modal__h4 {
    margin: 0px;
  }
}
/*# sourceMappingURL=index.css.map */