//tipografias
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

body{
    margin: 0px;
    background-color: rgb(251,241,249);
}

p{
    font-family: Manrope;
    color: rgb(66, 4, 71);
}

h4{
    font-family: magra;
    font-size: 20px;
    color: rgb(66, 4, 71);
}

//scss
@import './_nav';
@import './_banner';
@import './_reasons';
@import './_product';
@import './_button';
@import './details';

.title{   
    display: flex;
    justify-content: center; 
    font-family: magra;
    font-size: 30px;
    margin-bottom: 40px;
    color: rgb(66, 4, 71);
}

.title--reasons{
    color: white;
    margin: 0px;
}

.title--list{
margin: 0px;
}

.text{
    display: flex;
    justify-content: center;
    color: rgb(66, 4, 71);
}

.text--reasons{
    color: white;
    padding: 0% 5%;
}

.logo{
    padding-left: 50px;
    padding-right: 50px;
}













