.bannerStore{
    width: 75%;
    height: 18vw;
    margin-left: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bannerShop.png");
    background-size: cover;
    

    &__title{
        font-size:50px;
        color: white;
    }
}

.bannerProduct{
    width: 85%;
    height: 14vw;
    margin-left: 7vw;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title{
        font-size:50px;
        color: white;
    }
}

@media only screen and (max-width:1125px){
    .bannerStore{
        width: 80%;
        height: 20vw;
        height: 17vw;
        margin-left: 10vw;
    
        &__title{
            font-size:35px;
        }
    }
}


@media only screen and (max-width:610px){
    .bannerStore{
        width: 75%;
        height: 20vw;
        margin-left: 12vw;
    
        &__title{
            font-size:35px;
        }
    }

    .bannerProduct{
        width: 86%;
        height: 15vw;
        margin-left: 7vw;
        background-size: cover;
        margin-top: 10vw;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &__title{
            font-size:35px;
            color: white;
        }
    }
    
}