.productList{
    width: 100%;
    padding-left:11%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
       
}

@media only screen and (max-width:1125px){
    .productList{
        padding-left:5%;
    }
}

@media only screen and (max-width:911px){
    .productList{
        padding-left:10%;
    }
}



@media only screen and (max-width:610px){
    .productList{
        width: 90%;
        padding-left:7%;
        justify-content: center;
        margin-top: 30px;
    }
}
