.productStore{
    width: 210px;
    height: 450px;
    background-color: #F3E0EF;
    padding: 1.5vw 2vw;
    margin-top: 30px;
    margin-left: 4vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__content{
        width: 100%;
        height: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration-line: none;
    }
    
    &__name{
        font-size: 25px;
        margin: 0px;
    }

    &__img{
        width: 100%;
        height: 60%;
        margin: 0px 5px;
    }

    &__type{
        width: 90%;
        color: #744378;
        font-size: 18px;
        font-weight: 400;
        margin: 0px;
        justify-content: center;
        display: flex;
    }

    &__price{
        font-family: manrope;
        color: #744378;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 6px;
        margin-top: 10px;
    }

    &__stars{
        width: 65%;
        margin-bottom: 15px;
    }

    &:hover{
        background-color: #e4d0df;  
    }

    &__cartBtn{
        margin-top: 0px;
    }
}


@media only screen and (max-width:641px){
    .productStore{
        width: 230px;
        height: 455px;
    
        &__content{
            height: 390px;
            padding: 1vw 5vw;
            margin-left: 0px;
        }
            
        &__img{
            width: 95%;
            height: 60%;
            margin: 0px 5px;
        }

}
}


/*        margin-top: 40px;
        padding: 2vw 4vw;
        margin-left: 0px;*/


