.productStore{
    background-color: #F3E0EF;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 3%;
    margin: 15px;
    text-decoration-line: none;
    
    &__name{
        font-size: 25px;
        margin: 0px;
    }

    &__img{
        width: 95%;
        margin-top: 5px;
    }

    &__type{
        color: #744378;
        font-size: 18px;
        font-weight: 400;
        margin: 0px;
    }

    &__price{
        font-family: manrope;
        color: #744378;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 6px;
        margin-top: 15px;
    }

    &__stars{
        width: 65%;
        margin-bottom: 15px;
    }

    &:hover{
        background-color: #e4d0df;  
    }
}


//610px
//610px
@media only screen and (max-width:610px){

    .productStore{
        background-color: #F3E0EF;
        width: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        margin: 15px;
        
        &__name{
            font-size: 24px;
            margin: 0px;
        }
    
        &__img{
            width: 95%;
        }
    
        &__type{
            color: #744378;
            font-size: 18px;
            font-weight: 400;
            margin: 0px;
        }
    
        &__price{
            font-family: manrope;
            color: #744378;
            font-size: 27px;
            font-weight: 600;
            margin-bottom: 6px;
            margin-top: 15px;
        }

        &__stars{
            width: 65%;
            margin-bottom: 15px;
        }
    }
}

@media only screen and (max-width:411px){

    .productStore{
        background-color: #F3E0EF;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        margin: 15px;
        
        &__name{
            font-size: 23px;
            margin: 0px;
        }
    
        &__img{
            width: 95%;
        }
    
        &__type{
            color: #744378;
            font-size: 18px;
            font-weight: 400;
            margin: 0px;
        }
    
        &__price{
            font-family: manrope;
            color: #744378;
            font-size: 27px;
            font-weight: 600;
            margin-bottom: 6px;
            margin-top: 15px;
        }

        &__stars{
            width: 65%;
            margin-bottom: 15px;
        }
    }
    
  
}
