.productStore{
    background-color: #F3E0EF;
    width: 210px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw 2vw;
    margin-top: 30px;
    margin-left: 4vw;
    text-decoration-line: none;
    
    &__name{
        font-size: 25px;
        margin: 0px;
    }

    &__img{
        width: 100%;
        height: 53%;
        margin: 0px 5px;
    }

    &__type{
        width: 90%;
        color: #744378;
        font-size: 18px;
        font-weight: 400;
        margin: 0px;
        justify-content: center;
        display: flex;
    }

    &__price{
        font-family: manrope;
        color: #744378;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 6px;
        margin-top: 10px;
    }

    &__stars{
        width: 65%;
        margin-bottom: 15px;
    }

    &:hover{
        background-color: #e4d0df;  
    }
}


@media only screen and (max-width:610px){
    .productStore{
        margin-top: 40px;
        padding: 2vw 4vw;
        margin-left: 0px;
    }
}


