.productForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__firstSteps{
        display: flex;
        width: 100%;
    }

    &__infoDiv{
        width: 40%;
        padding-top: 50px;
        margin-left: 120px;
        margin-right: 70px; 
    }

    &__imgDiv{
        width: 50%;
        padding-top: 50px;
        margin-right: 70px; 
        margin-top: 85px;
        background-color: #F9EBF6;
        padding: 30px;
    }

    &__label{
        display: block;
        width: 100%;
        font-family: manrope;
        font-weight: 600; 
        margin:7px 0px;
    }

    &__input{
        display: block;
        border-color: #B674AA;
        height: 30px;
        width: 100%;
        border-radius: 5px;
        font-family: Manrope;
        margin-bottom: 10px;
        color: #854e7b;
    }

    &__loader{
        font-size: x-large;
    }

    &__reminder{
        margin: 30px 0px;
        font-family: Manrope;
        color: #854e7b;
    }

    .notifications{
        background-color: #C8B5C4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 10px;
    }

    &__p{
        margin: 0px;
    }

    &__title{
        margin: 25px 0px;
    }

    &__imgDiv{
        width: 50%;
        height: 105vh;
    }

    &__images{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 30px 0px
    }

    &__sideImg{
        width: 20%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__bigImg{
        width: 65%;
        height: 38vw;
        margin-left: 45px;
    }

    &__littleImg{
        width: 100%;
        height: 30%;
    }

    &__mainImgCont{
        width: 80%;
        background-color:#F9EBF6;
        padding: 35px;
        margin-left: 50px;
        margin-top: 50px;
    }

    &__mainImg{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px 0px;
    }

    &__MImage{
        width: 20vw;
        height: 25vw;
    }

    &__mainPreview{
        width: 20vw;
        height: 25vw;
    }


}

//title step
.step{
    display: flex;
    align-items: center;
    

    &__title{
        font-size: 20px;
        margin-right: 10px;
        width: 85px;
    }
}

.bForm{
    margin: 60px 0px;
}

.imgInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description{
    height: 90px;
}

