.productDetail{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    

    &__imgDiv{
        width: 40%;
        display: flex;
    }

    &__sideImg{
        width: 150px;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
        margin-right: 20px;
    }

    &__littleImg{
        width: 95%;
    }

    &__littleImg:hover{
        opacity: 85%;
    }

    &__bigImg{
        width: 390px;
        height: 522px;
        margin-top: 25px;
    }

    &__info{
        width: 40%;
        margin-top: 25px;
        margin-left: 70px;
    }

    &__title{
        font: Magra;
        font-size: 30px;
        margin: 0px;
    }

    &__product{
        font-weight: 300;
        color: #744378;
        margin: 0px;
    }

    &__description{
        font-size: 16px;
        width: 85%;
        height: auto;
        margin-bottom: 40px;
    }

    &__containsTitle{
        font-weight: 300;
        color: #744378;
        margin: 0px;
    }

    &__contents{
        font-family: manrope;
        font-size: 16px;
        margin: 0px;
    }

    &__price{
        font-family: manrope;
        font-size: 25px;
        color: #420447;
    }

    &__addCartBtn{
        width: 270px;
        margin: 0px;
    }

    &__check{
        width: 100%;
        display: flex;
        align-content: center;
        margin-top: 50px;
    }
}

///
.counter{
    width: 140px;
    display: flex;
   
    &__input{
        background-color: #F3E0EF;
        border-color: #59055f;
        border-width: 2px;
        border-radius: 4px;
        color:#420447;
        width: 50%;
        padding: 15px 10px;
        font-family: manrope;
        margin: 0px;
    }
}


@media only screen and (max-width:1125px){
    .productDetail{
        width: 90%;
        height: auto;

        &__imgDiv{
            width: 500px;
            display: flex;
            justify-content:space-evenly;
            align-content: center;
            padding-left: 80px;   
        }

        &__bigImg{
            width: 330px;
            height: 472px;
            margin-top: 25px;
        }

        &__sideImg{
            width: 110px;
            height: 86%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;
            margin-right: 25px;
        }
    
        &__littleImg{
            width: 100%;
        }
  
        &__info{
            width: 50%;
            margin-top: 25px;
            margin-left: 25px;
        }

        &__description{
            font-size: 14px;
            width: 85%;
            height:auto;
        }

        &__contents{
            font-family: manrope;
            font-size: 15px;
            margin: 0px;
        }

        &__addCartBtn{
            width: 100%;
            padding: 15px 3px;
        }
    
        &__check{
            width: 100%;
            display: flex;
            margin-top: 40px;
            justify-content: center;
        }

        &__title{
            font-size: 25px;
        }
    } 

    .counter{
        width: 140px;
        display: flex;
       
        &__input{
        height: 17px;
        }
    }
}


@media only screen and (max-width:897px){
    .productDetail{
            &__imgDiv{
            width: 380px;
            display: flex;
            justify-content:space-evenly;
            align-content: center;
            padding-left: 80px;   
        }

        &__bigImg{
            width: 280px;
            height: 400px;
            margin-top: 25px;
        }

        &__sideImg{
            width: 270px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;
            margin-right: 25px;
        }
    
        &__littleImg{
            width: 100%;
        }

        &__check{
            width: 100%;
            height: 130px;
            display: flex;
            margin-top: 40px;
            justify-content: space-between;
            flex-direction: column;
        }
    }

}

@media only screen and (max-width:629px){
    .productDetail{
        width: 90%;
        height: auto;
        flex-direction: column;

        &__imgDiv{
            width: 100%;
            display: flex;
            justify-content:space-evenly;
            align-content: center;
            justify-content: center;
            padding-left: 23px;   
        }

        &__bigImg{
            width: 255px;
            height: 360px;
            margin-top: 25px;
        }

        &__sideImg{
            width: 100px;
            height: 360px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;
            margin-right: 10px;
        }
    
        &__littleImg{
            width: 90%;
        }
  
        &__info{
            width: 100%;
            margin-top: 25px;
            margin-left: 30px;
        }

        &__description{
            font-size: 14px;
            width: 85%;
            height:auto;
        }

        &__contents{
        width: 80%;
        }

        &__addCartBtn{
            width: 60%;
            padding: 15px 3px;
        }
    
        &__check{
            width: 95%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
        }

        &__price{
            margin-top: 50px;
        }
    }

    .counter{
        width: 100px;
        display: flex;
        
            &__input{
                width: 100%;
                margin: 0px;
            }
        }
}

