@import url("https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Magra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
.nav {
  font-size: large;
  font-family: magra;
  font-weight: 600;
  width: 100%;
  height: 8.5em;
  background-image: url("../img/navImg.jpg");
  background-size: 120vw;
  background-position: center;
  background-repeat: no-repeat;
}

.nav__icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}

.nav__options {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: magra;
}

.nav__option {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #420447;
}

.nav__option:hover {
  color: #892091;
}

.nav__responsive {
  display: none;
}

@media only screen and (max-width: 1078px) {
  .nav {
    font-size: medium;
    width: 100%;
    height: 8em;
    background-size: 144vw;
  }
}

@media only screen and (max-width: 791px) {
  .nav {
    font-size: medium;
    width: 100%;
    height: 7em;
    background-size: 155vw;
  }
}

@media only screen and (max-width: 610px) {
  .nav {
    width: 100%;
    height: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: 189vw;
    background-position: -140px;
    position: relative;
  }
  .nav__options {
    width: 100%;
    height: 9.5em;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    background-color: white;
    font-size: 15px;
    position: absolute;
    bottom: -100%;
    top: 100%;
    z-index: 10;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
  }
  .nav__options * {
    padding-bottom: 3.5px;
  }
  .nav__responsive {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__divIcons {
    display: none;
  }
  .nav__icon {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 8px;
  }
  .nav__hamburger {
    background-image: url("../img/hIcon.png");
    background-size: cover;
    width: 36px;
    height: 36px;
  }
  .nav__hamburger:hover {
    background-image: url("../img/hIcon_hover.png");
  }
  .nav__disappear {
    display: none;
  }
}

button {
  border-radius: 5px;
  background-color: #420447;
  color: white;
  padding: 1em 3em;
  margin-top: 20px;
}

button:hover {
  background-color: #892091;
}

@media only screen and (max-width: 610px) {
  button {
    padding: 0.8em 1.5em;
    margin-top: 9px;
  }
}

@media only screen and (max-width: 610px) {
  .logo {
    display: none;
  }
  .logo--responsive {
    width: 19%;
  }
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.modal__content {
  width: 70%;
  height: 510px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/modalBackground.jpg");
  margin: 3% auto;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  border-radius: 5px;
}

.modal__a {
  text-decoration: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__img {
  width: 45%;
  padding: 50px 0px;
  background-image: url("../img/modal_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.modal__btn {
  position: fixed;
  right: 14.5%;
  z-index: 50;
}

.modal__text {
  width: 50%;
  padding: 18% 0px;
  padding-left: 40px;
}

.modal__h4 {
  margin: 0px;
}

.modal__bigTitle {
  font-size: 60px;
  margin: 0px;
}

.modal__p {
  color: #2f2430;
}

@media only screen and (max-width: 1125px) {
  .modal__text {
    width: 55%;
    padding: 13% 0px;
    padding-left: 40px;
  }
  .modal__bigTitle {
    margin: 0px;
  }
  .modal__img {
    width: 280px;
    background-position: -60px;
  }
}

@media only screen and (max-width: 982px) {
  .modal__img {
    width: 280px;
    background-position: -60px;
  }
}

@media only screen and (max-width: 719px) {
  .modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
  }
  .modal__content {
    width: 70%;
    height: 290px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 108px;
    border-radius: 5px;
  }
  .modal__img {
    width: 280px;
    height: 25em;
    padding: 50px 0px;
    background-size: cover;
    display: none;
  }
  .modal__btn {
    position: fixed;
    right: 15%;
  }
  .modal__text {
    width: 80%;
    padding: 20px 0px;
    padding-left: 20px;
  }
  .modal__h4 {
    margin: 0px;
    font-size: 15px;
  }
  .modal__bigTitle {
    font-size: 40px;
    margin: 0px;
  }
}

body {
  margin: 0px;
  background-color: #fbf1f9;
}

p {
  font-family: Manrope;
  color: #420447;
}

h1 {
  font-family: magra;
  color: #420447;
}

h2 {
  font-family: Manrope;
  color: #420447;
  margin: 0px;
}

h4 {
  font-family: magra;
  font-size: 20px;
  color: #420447;
}

.hidden {
  display: none !important;
}

.productStore {
  width: 210px;
  height: 450px;
  background-color: #F3E0EF;
  padding: 1.5vw 2vw;
  margin-top: 30px;
  margin-left: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productStore__content {
  width: 100%;
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.productStore__name {
  font-size: 25px;
  margin: 0px;
}

.productStore__img {
  width: 100%;
  height: 60%;
  margin: 0px 5px;
}

.productStore__type {
  width: 90%;
  color: #744378;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productStore__price {
  font-family: manrope;
  color: #744378;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 10px;
}

.productStore__stars {
  width: 65%;
  margin-bottom: 15px;
}

.productStore:hover {
  background-color: #e4d0df;
}

.productStore__cartBtn {
  margin-top: 0px;
}

@media only screen and (max-width: 610px) {
  .productStore {
    width: 230px;
    height: 455px;
  }
  .productStore__content {
    height: 390px;
    padding: 1vw 5vw;
    margin-left: 0px;
  }
  .productStore__img {
    width: 95%;
    height: 60%;
    margin: 0px 5px;
  }
}

/*        margin-top: 40px;
        padding: 2vw 4vw;
        margin-left: 0px;*/
.productForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productForm__firstSteps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.productForm__infoDiv {
  width: 40%;
  padding-top: 50px;
  margin-left: 120px;
  margin-right: 70px;
}

.productForm__imgDiv {
  width: 50%;
  padding-top: 50px;
  margin-right: 70px;
  margin-top: 85px;
  background-color: #F9EBF6;
  padding: 30px;
}

.productForm__label {
  display: block;
  width: 100%;
  font-family: manrope;
  font-weight: 600;
  margin: 7px 0px;
}

.productForm__input {
  display: block;
  border-color: #B674AA;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  font-family: Manrope;
  margin-bottom: 10px;
  color: #854e7b;
}

.productForm__loader {
  font-size: x-large;
  width: 80%;
}

.productForm__reminder {
  margin: 30px 0px;
  font-family: Manrope;
  color: #e03442;
}

.productForm .notifications {
  background-color: #e4d5e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px;
}

.productForm__p {
  margin: 0px;
}

.productForm__title {
  margin: 25px 0px;
}

.productForm__imgDiv {
  width: 50%;
  height: 105vh;
}

.productForm__images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0px;
}

.productForm__sideImg {
  width: 20%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.productForm__bigImg {
  width: 65%;
  height: 38vw;
  margin-left: 45px;
}

.productForm__littleImg {
  width: 100%;
  height: 30%;
}

.productForm__mainImgCont {
  width: 80%;
  background-color: #F9EBF6;
  padding: 35px;
  margin-left: 50px;
  margin-top: 50px;
}

.productForm__mainImg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px;
}

.productForm__MImage {
  width: 20vw;
  height: 25vw;
}

.productForm__mainPreview {
  width: 20vw;
  height: 25vw;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step__title {
  font-size: 20px;
  margin-right: 10px;
  width: 85px;
}

.bForm {
  margin: 60px 0px;
}

.imgInput {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description {
  height: 90px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 77%;
  margin-left: 11vw;
  margin-top: 80px;
  margin-bottom: 25px;
}

.filterStore {
  display: block;
  border-color: #B674AA;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  font-family: Manrope;
  margin-bottom: 10px;
  color: #854e7b;
}

.filter__label {
  display: block;
  font-family: manrope;
  font-weight: 600;
  margin: 4px 0px;
}

@media only screen and (max-width: 1125px) {
  .filters {
    display: block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 77%;
    margin-left: 11vw;
    margin-top: 80px;
    margin-bottom: 25px;
  }
  .filterStore {
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 18px;
  }
}

@media only screen and (max-width: 610px) {
  .filters {
    display: block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 77%;
    margin-left: 11vw;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .filterStore {
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 5px;
  }
}

.productList {
  width: 100%;
  padding-left: 11%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

@media only screen and (max-width: 1125px) {
  .productList {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 911px) {
  .productList {
    padding-left: 10%;
  }
}

@media only screen and (max-width: 610px) {
  .productList {
    width: 90%;
    padding-left: 7%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}

.bannerStore {
  width: 75%;
  height: 18vw;
  margin-left: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/bannerShop.png");
  background-size: cover;
}

.bannerStore__title {
  font-size: 50px;
  color: white;
}

.bannerProduct {
  width: 85%;
  height: 14vw;
  margin-left: 7vw;
  background-size: cover;
  margin-top: 100px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerProduct__title {
  font-size: 50px;
  color: white;
}

@media only screen and (max-width: 610px) {
  .bannerStore {
    width: 75%;
    height: 20vw;
    margin-left: 12vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    background-position: left;
  }
  .bannerStore__title {
    font-size: 35px;
    color: white;
  }
  .bannerProduct {
    width: 86%;
    height: 15vw;
    margin-left: 7vw;
    background-image: url("../img/bannerShop.png");
    background-size: cover;
    margin-top: 10vw;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bannerProduct__title {
    font-size: 35px;
    color: white;
  }
}

.productDetail {
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productDetail__imgDiv {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productDetail__sideImg {
  width: 150px;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-right: 20px;
}

.productDetail__littleImg {
  width: 95%;
}

.productDetail__littleImg:hover {
  opacity: 85%;
}

.productDetail__bigImg {
  width: 390px;
  height: 522px;
  margin-top: 25px;
}

.productDetail__info {
  width: 40%;
  margin-top: 25px;
  margin-left: 70px;
}

.productDetail__title {
  font: Magra;
  font-size: 30px;
  margin: 0px;
}

.productDetail__product {
  font-weight: 300;
  color: #744378;
  margin: 0px;
}

.productDetail__description {
  font-size: 16px;
  width: 85%;
  height: auto;
  margin-bottom: 40px;
}

.productDetail__containsTitle {
  font-weight: 300;
  color: #744378;
  margin: 0px;
}

.productDetail__contents {
  font-family: manrope;
  font-size: 16px;
  margin: 0px;
}

.productDetail__price {
  font-family: manrope;
  font-size: 25px;
  color: #420447;
}

.productDetail__addCartBtn {
  width: 220px;
  margin: 0px;
}

.productDetail__check {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 50px;
}

.counter {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.counter__btn {
  background-color: #F3E0EF;
  border-color: #420447;
  border-width: 1.5px;
  border-radius: 0px;
  color: #420447;
  padding: 15px 15px;
  margin: 0px;
}

.counter__input {
  background-color: #F3E0EF;
  border-color: #420447;
  border-width: 1.5px;
  border-radius: 0px;
  color: #420447;
  width: 30%;
  padding: 14px 10px;
  font-family: manrope;
  margin: 0px;
}

@media only screen and (max-width: 1125px) {
  .productDetail {
    width: 90%;
    height: auto;
  }
  .productDetail__imgDiv {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 80px;
  }
  .productDetail__bigImg {
    width: 330px;
    height: 472px;
    margin-top: 25px;
  }
  .productDetail__sideImg {
    width: 110px;
    height: 86%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 25px;
    margin-right: 25px;
  }
  .productDetail__littleImg {
    width: 100%;
  }
  .productDetail__info {
    width: 50%;
    margin-top: 25px;
    margin-left: 25px;
  }
  .productDetail__description {
    font-size: 14px;
    width: 85%;
    height: auto;
  }
  .productDetail__contents {
    font-family: manrope;
    font-size: 15px;
    margin: 0px;
  }
  .productDetail__addCartBtn {
    width: 85%;
    padding: 15px 3px;
    margin-top: 15px;
  }
  .productDetail__check {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .counter {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .counter__btn {
    background-color: #F3E0EF;
    border-color: #420447;
    border-width: 1.5px;
    border-radius: 0px;
    color: #420447;
    padding: 15px 15px;
    margin: 0px;
  }
  .counter__input {
    background-color: #F3E0EF;
    border-color: #420447;
    border-width: 1.5px;
    border-radius: 0px;
    color: #420447;
    width: 30%;
    padding: 14px 10px;
    font-family: manrope;
    margin: 0px;
  }
}

@media only screen and (max-width: 897px) {
  .productDetail__imgDiv {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 80px;
  }
  .productDetail__bigImg {
    width: 280px;
    height: 400px;
    margin-top: 25px;
  }
  .productDetail__sideImg {
    width: 270px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 25px;
    margin-right: 25px;
  }
  .productDetail__littleImg {
    width: 100%;
  }
}

@media only screen and (max-width: 606px) {
  .productDetail {
    width: 90%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productDetail__imgDiv {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 18px;
  }
  .productDetail__bigImg {
    width: 255px;
    height: 360px;
    margin-top: 25px;
  }
  .productDetail__sideImg {
    width: 100px;
    height: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 25px;
    margin-right: 10px;
  }
  .productDetail__littleImg {
    width: 90%;
  }
  .productDetail__info {
    width: 100%;
    margin-top: 25px;
    margin-left: 25px;
  }
  .productDetail__description {
    font-size: 14px;
    width: 85%;
    height: auto;
  }
  .productDetail__contents {
    font-family: manrope;
    font-size: 15px;
    margin: 0px;
  }
  .productDetail__addCartBtn {
    width: 80%;
    padding: 15px 3px;
    margin-top: 50px;
  }
  .productDetail__check {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .counter {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .counter__btn {
    padding: 15px 15px;
    margin: 0px;
  }
  .counter__input {
    width: 100px;
    margin: 0px;
  }
}

.recommendation {
  width: 90%;
  height: 210px;
  margin-top: 150px;
  padding-left: 7vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recommendation__options {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommendation__item {
  width: 45%;
  height: 100%;
  background-size: cover;
  background-position: initial;
  background-position: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-family: magra;
  font-weight: 600;
}

.recommendation__item:hover {
  opacity: 85%;
}

@media only screen and (max-width: 610px) {
  .recommendation {
    width: 90%;
    height: 400px;
    margin-top: 150px;
    padding-left: 7vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .recommendation__options {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .recommendation__item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
  }
  .recommendation__item:hover {
    opacity: 85%;
  }
}

.authModal .modal__content {
  height: auto;
}

.authForm {
  width: 50%;
  margin-top: 45px;
  margin-left: 28px;
}

.authForm__buttons {
  width: 100%;
}

.authForm__a {
  width: 100%;
  font-family: magra;
  color: #5c3a56;
  font-size: 20px;
}

.authForm__a:hover {
  color: #892091;
}

.authForm__loginBtn {
  width: 100%;
}

.authForm__sendBtn {
  margin-top: 40px;
  width: 100%;
}

.authForm__img {
  width: 40%;
  height: 400px;
  padding: 50px 0px;
  background-image: url("../img/authImg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.authForm__error {
  color: #e03442;
}

@media only screen and (max-width: 719px) {
  .authForm {
    width: 100%;
    margin-top: 25px;
    margin-left: 0px;
  }
  .authForm__img {
    display: none;
  }
  .authForm__a {
    width: 100%;
    font-family: magra;
    color: #5c3a56;
    font-size: 17px;
    margin-bottom: 30px;
  }
  .authForm__sendBtn {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=store.css.map */